.no-dizmo-drag {
  -webkit-dashboard-region: dashboard-region(control rectangle);
  --dizmo-no-drag: true;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#front {
  height: 100%;
  width: 100%;
}

a { color: inherit; }
a:before {
  content: '\2192  '
}
